
<head>
  <title>Team Hash Tag</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body></body>

<template name="layout">
  <h1>#TeamHashTag!</h1>
  <div class="nav">
    {{#if currentUser}}
      {{> user}}
    {{else}}
      {{> loginButtons}}
    {{/if}}
  </div>
  <div class="container">
    {{> main}}
  </div>
</template>

<template name="main">
  <div class="nav">
    <h3>Enter HashTag Here!</h3>
    <div id="search-box">
      <input id="search-query" placeholder="enter search">
    </div>
  </div>

  <div class="wrapper">
    {{#if isSearchQuery}}
      {{> dashboard}}
    {{else}}
    {{/if}}
  </div>

</template>

<template name="dashboard">
  <h1>This is the dashboard with all the goodies!</h1>
  <h1>Whoohoooooo!</h1>
</template>

<template name="user">
  <input type="button" id="signOut" value="Sign Out" />
  <h2>Your Information</h2>
  <ul>
    <li>Screen Name:    {{currentUser.profile.name}}</li>
  </ul>
</template>

<template name="login">
  <input type="button" id="SignIn" value="Sign In" />
</template>